# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
workingDir/gifs/Around_With_Loops_u_Alexzander82.mp4
workingDir/gifs/Climbing_The_Zen_Tower_u_jacagu.mp4
workingDir/gifs/Cube_Walk_u_peachandcake.mp4
workingDir/gifs/Desktop_Ball_Device_u_the_humeister.mp4
workingDir/gifs/Everythings_Fine_u_RenceJeager.mp4
workingDir/gifs/Fibonacci2_u_shapirog.mp4
workingDir/gifs/gif_info.json
workingDir/gifs/Hmmmm...this_is_not_the_ocean_that_i_remember_u_SnorlaxFromSpace.mp4
workingDir/gifs/how_many_cubes_u_PlemBem.mp4
workingDir/gifs/Impossible_Cube_Wave_u_cmarangu_.mp4
workingDir/gifs/Impossible_Loop_u_Gurlaldeep.mp4
workingDir/gifs/Inner_Beauty_u_unishkov.mp4
workingDir/gifs/Jungle_Run_u_unishkov.mp4
workingDir/gifs/Minimalistic_Cubes_u_Rubel_NMBoom.mp4
workingDir/gifs/My_Take_on_a_Ducky_u_flopdood.mp4
workingDir/gifs/On_And_On_u_HamSandvich_.mp4
workingDir/gifs/Rotation_u_exsstas.mp4
workingDir/gifs/Rubiks_Ball_u_tdhooper.mp4
workingDir/gifs/Sea_The_Whole_Word_u_unishkov.mp4
workingDir/gifs/Sunflower_Seeds_u_shapirog.mp4
workingDir/gifs/The_Shaman_u_SnorlaxFromSpace.mp4
workingDir/gifs/The_Trig_Dream_u_shapirog.mp4
sample/__init__.py
sample/audio_video_gif.py
sample/box.py
sample/coolvetica compressed rg.ttf
sample/core.py
sample/download.py
sample/every_three_song_ffmpeg.py
sample/gif_info.py
sample/helpers.py
sample/main.py
workingDir/MusicaFree/1973.mp3
workingDir/MusicaFree/A_New_Orleans_Crawfish_Boil.mp3
workingDir/MusicaFree/A_Trip_Around_the_Moon.mp3
workingDir/MusicaFree/Angel_Guides.mp3
workingDir/MusicaFree/Arps_Solina.mp3
workingDir/MusicaFree/As_Loud_As_Possible.mp3
workingDir/MusicaFree/At_The_Game.mp3
workingDir/MusicaFree/Atrus_Groovmacher.mp3
workingDir/MusicaFree/Battle_Hymn_of_the_Republic.mp3
workingDir/MusicaFree/Beach_Walk.mp3
workingDir/MusicaFree/Beneath_the_Surface.mp3
workingDir/MusicaFree/Bright_Eyed_Blues.mp3
workingDir/MusicaFree/Cumulus_Nimbus.mp3
workingDir/MusicaFree/Digital_Secrets.mp3
workingDir/MusicaFree/Divine_Life_Society.mp3
workingDir/MusicaFree/Dreaming_in_432Hz.mp3
workingDir/MusicaFree/Dynamic_Synaptic.mp3
workingDir/MusicaFree/Educated_Man.mp3
workingDir/MusicaFree/Eine_Kleine_Nachtmusik_by_Mozart.mp3
workingDir/MusicaFree/Exhale.mp3
workingDir/MusicaFree/Experience_Nature_Experience_You.mp3
workingDir/MusicaFree/Finally.mp3
workingDir/MusicaFree/Fine.mp3
workingDir/MusicaFree/Funeral_March_by_Chopin.mp3
workingDir/MusicaFree/Glacier.mp3
workingDir/MusicaFree/Grass.mp3
workingDir/MusicaFree/Images_of_Tomorrow.mp3
workingDir/MusicaFree/James_River.mp3
workingDir/MusicaFree/John_F_Kennedy_Inaugural_Speech_January_20_1961.mp3
workingDir/MusicaFree/Leaky.mp3
workingDir/MusicaFree/Lemme_See_About_It.mp3
workingDir/MusicaFree/Let_s_Go_Home.mp3
workingDir/MusicaFree/Lock.mp3
workingDir/MusicaFree/Lord_Get_You_Some.mp3
workingDir/MusicaFree/Lord_Of_The_Dawn.mp3
workingDir/MusicaFree/Mer_Ka_Ba.mp3
workingDir/MusicaFree/Mia.mp3
workingDir/MusicaFree/Midsummer_Night_s_Dream_by_Mendelssohn.mp3
workingDir/MusicaFree/Mist.mp3
workingDir/MusicaFree/Monumental_Journey.mp3
workingDir/MusicaFree/musicFree1.mp3
workingDir/MusicaFree/musicFree2.mp3
workingDir/MusicaFree/musicFree3.mp3
workingDir/MusicaFree/musicFree4.mp3
workingDir/MusicaFree/musicFree5.mp3
workingDir/MusicaFree/musicFree6.mp3
workingDir/MusicaFree/musicFree7.mp3
workingDir/MusicaFree/musicFree8.mp3
workingDir/MusicaFree/musicFree9.mp3
workingDir/MusicaFree/musicFree10.mp3
workingDir/MusicaFree/musicFree11.mp3
workingDir/MusicaFree/musicFree12.mp3
workingDir/MusicaFree/musicFree13.mp3
workingDir/MusicaFree/musicFree14.mp3
workingDir/MusicaFree/musicFree15.mp3
workingDir/MusicaFree/musicFree16.mp3
workingDir/MusicaFree/musicFree17.mp3
workingDir/MusicaFree/musicFree18.mp3
workingDir/MusicaFree/musicFree19.mp3
workingDir/MusicaFree/musicFree20.mp3
workingDir/MusicaFree/musicFree21.mp3
workingDir/MusicaFree/musicFree22.mp3
workingDir/MusicaFree/Pixelated_Autumn_Leaves.mp3
workingDir/MusicaFree/Rollin_With_The_Flow.mp3
workingDir/MusicaFree/Sad_Minuet.mp3
workingDir/MusicaFree/Satya_Yuga.mp3
workingDir/MusicaFree/Shawl_Paul.mp3
workingDir/MusicaFree/Sky_View_Well.mp3
workingDir/MusicaFree/So_Lit.mp3
workingDir/MusicaFree/Song_of_Mirrors.mp3
workingDir/MusicaFree/Sound_of_Aging.mp3
workingDir/MusicaFree/Spirit_of_Fire.mp3
workingDir/MusicaFree/Stasis_Attempt.mp3
workingDir/MusicaFree/Stroke.mp3
workingDir/MusicaFree/Sunshine_on_Sand.mp3
workingDir/MusicaFree/Sunspots.mp3
workingDir/MusicaFree/The_Big_Beat_80s.mp3
workingDir/MusicaFree/The_Blue_Pearl.mp3
workingDir/MusicaFree/The_Golden_Present.mp3
workingDir/MusicaFree/The_Inner_Sound.mp3
workingDir/MusicaFree/The_Sleeping_Prophet.mp3
workingDir/MusicaFree/Thin_Places.mp3
workingDir/MusicaFree/This_is_Not_a_Ballad.mp3
workingDir/MusicaFree/This_is_Not_IDM.mp3
workingDir/MusicaFree/Tratak.mp3
workingDir/MusicaFree/Trips.mp3
workingDir/MusicaFree/Venkatesananda.mp3
workingDir/MusicaFree/Videomusik.mp3
workingDir/MusicaFree/Waltz_of_the_Flowers_by_Tchaikovsky.mp3
workingDir/MusicaFree/What_A_Baby.mp3
workingDir/gifs/2K_20_u_unishkov.mp4
workingDir/gifs/A_Tunnel_u_SnorlaxFromSpace.mp4
workingDir/gifs/Bioluminescence_u_SnorlaxFromSpace.mp4
workingDir/gifs/Black_Lives_Matter_u_jperldev.mp4
workingDir/gifs/Cubes_u_higgsas.mp4
workingDir/gifs/Exhibition_u_rattle6.mp4
workingDir/gifs/Fibonacci_u_shapirog.mp4
workingDir/gifs/Jellyfish_u_Kable_codes.mp4
workingDir/gifs/Made_In_Blender_u_PlemBem.mp4
workingDir/gifs/Multiverse_u_exsstas.mp4
workingDir/gifs/Radiating_Sun_u_MigueLozano.mp4
workingDir/gifs/Rave_u_shapirog.mp4
workingDir/gifs/Sliding_Sown_u_higgsas.mp4
workingDir/gifs/Sticker_Animation_u_ingmarjarve.mp4
workingDir/gifs/This_is_Geometric_Star_u_NonuDigital.mp4
workingDir/gifs/This_Thing_u_eenols.mp4
workingDir/gifs/Time_Travel_u_shapirog.mp4
workingDir/gifs/Trance_u_pixel_farm.mp4
